{% extends 'base.html' %}

{% block title %}Ask Question - AskNagdasev{% endblock %}

{% block content %}
<div class="px-3">
    <h2 class="mb-3">New Question</h2>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3 row">
            <label for="id_title" class="col-sm-1 col-form-label">Title</label>
            <div class="col-sm-8">
                {{ form.title }}
                {% if form.title.errors %}
                    <div class="error-text">{{ form.title.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="mb-3 row">
            <label for="id_text" class="col-sm-1 col-form-label">Text</label>
            <div class="col-sm-8">
                {{ form.text }}
                {% if form.text.errors %}
                    <div class="error-text">{{ form.text.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="mb-3 row">
            <label for="id_tags" class="col-sm-1 col-form-label">Tags</label>
            <div class="col-sm-8">
                {{ form.tags }}
                {% if form.tags.errors %}
                    <div class="error-text">{{ form.tags.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1">
                <button type="submit" class="btn ask-btn">ASK!</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}