<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1" class="page-num text-decoration-none">««</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="page-num text-decoration-none">«</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <span class="page-num current">{{ num }}</span>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}" class="page-num text-decoration-none">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="page-num text-decoration-none">»</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="page-num text-decoration-none">»»</a>
    {% endif %}
</div>