{% extends 'base.html' %}
{% load static %}

{% block title %}Account Settings - AskNagdasev{% endblock %}

{% block content %}
<div class="px-3">
    <h2 class="mb-4">Settings: {{ user.username }}</h2>

    <form class="d-flex flex-column gap-4 ms-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <label for="id_email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-4">
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="error-text">{{ form.email.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <label for="id_username" class="col-sm-2 col-form-label">Nickname</label>
            <div class="col-sm-4">
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error-text">{{ form.username.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <label for="id_avatar" class="col-sm-2 col-form-label">Upload Avatar</label>
            <div class="col-sm-4">
                {% if user.profile.avatar %}
                    <img src="{{ user.profile.avatar.url }}" alt="Current Avatar" class="mb-2">
                {% else %}
                    <img src="{% static 'img/account-image.jpg' %}" alt="Current Avatar" class="mb-2">
                {% endif %}
                {{ profile_form.avatar }}
                {% if profile_form.avatar.errors %}
                    <div class="error-text">{{ profile_form.avatar.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <button type="submit" class="btn save-btn">Save</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}