:root {
    --primary_green: #49fe8c;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 12px;

    background-color: lightskyblue;
    border-bottom: 1px solid gray;
}

header input[type="text"] {
    outline: none;
    background: none;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 6px;

    min-width: 32%;
}

header .search-button {
    border: none;
    color: white;
    background-color: var(--primary_green);
    padding: 6px;
    
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.8);
}

header .logo {
    font-size: 24px;
    font-weight: 700;
}

.profile {
    width: 150px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.avatar {
    width: 40px;
    border: solid 1px black;
}

.profile-info {
    width: 110px;
}

.profile-actions {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

main {
    display: flex;
    justify-content: start;
    margin-bottom: 32px;
}

.main-container {
    margin-top: 24px;
    width: 70%;
    padding: 0 24px;
}

.main-container h2 {
    font-size: 24px;
    font-family: "Coming Soon", cursive;
    margin-left: 32px;
}

.account-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 32px;
    margin-left: 16px;
}

.account-login, .account-email,
.account-nickname, .account-password,
.account-password-repeat, .account-avatar {
    display: flex;
    flex-direction: row;
}

.account-login p, .account-email p,
.account-nickname p, .account-password p,
.account-password-repeat p, .account-avatar p {
    width: 20%;
    font-size: 16px;
    font-family: "Coming Soon", cursive;
}

.account-login input, .account-email input,
.account-nickname input, .account-password input,
.account-password-repeat input {
    width: 30%;
    font-size: 16px;
    padding: 0 8px;
    border: solid 1px black;
}

.file-input input {
    font-family: "Coming Soon", cursive;
    cursor: pointer;
}

.account-avatar-info {
    display: flex;
    flex-direction: column;
}

.account-avatar-info div {
    width: 128px;
    height: 128px;
    position: relative;
    border: solid 1px black;
    margin-bottom: 16px;
}

.account-avatar-info div::before,
.account-avatar-info div::after {
    content: '';
    position: absolute;
    background-color: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.account-avatar-info div::before {
    width: 141.5%;
    height: 1px;
    transform: translate(-50%, -50%) rotate(45deg);
}

.account-avatar-info div::after {
    width: 141.5%;
    height: 1px;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.btn-n-error {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.btn-n-error button {
    width: 128px;
    height: 30px;
    margin-left: 20%;
    font-family: "Coming Soon", cursive;
    font-weight: 700;
    background-color: white;
    border: solid 1px black;
    box-shadow: 2px 2px 4px;
    cursor: pointer;
}

.btn-n-error p {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: "Coming Soon", cursive;
    color: red;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 24px;
    width: 30%;
    padding: 0 24px;
}

.tags-container {
    display: flex;
    flex-direction: column;
}

.tags {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 12px;
    font-family: "Coming Soon", cursive;
}

.tags > * {
    text-decoration: none;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

.text-orange {
    color: orange;
}

.members {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 12px;
    font-family: "Coming Soon", cursive;
}